#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://mirror.centos.org/centos-7/7.4.1708/os/x86_64/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdm
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp8s0f0 --gateway=192.168.69.1 --ip=192.168.69.84 --nameserver=8.8.4.4,8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp8s0f1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp8s0f2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp8s0f3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens4f0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens4f1 --onboot=off --ipv6=auto
network  --hostname=zues

# Root password
rootpw --iscrypted $6$2W.MPRm9cDsagPi9$20M2b3fZF7cLDTt3Fhtle/zOubo8Wr2dcRGlHm8OoWCIhgV52Iy4ndom7Md3KcXyIdawyWYqzgzJ3NUjZxqzM/
# System services
services --enabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc
user --groups=wheel --name=bc --password=$6$bUgxulkW0.8Z7GRt$334bENLfI6vC/1VU.DZMU4FBFt4FHntlCsG4oBkQViz12hT.dnUAOWwALRZYvpKsf0Y.UTDIxRHAOt1RO2KmK. --iscrypted --gecos="BC"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdm
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sdm

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
